.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.ui.selection.dropdown{
  background:none !important;
  border:none !important;
  border-radius:none !important;
  line-height :none !important;
}
.ui.grid > .column:not(.row) {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
          